<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">
    <title> login </title>
</head>

<header>
    <div class="container-top-nav"> 
        <nav class="top-nav">
            <i class="fas fa-search"></i>
            <img class="logo" src="./img/logo.png" alt="No se encontró la imágen">
            <div class="nav-main"> 
                <ul>
                    <li><a class="sign-in" href="./sign-in"> Sign in</a></li>
                    <li><a class="join-us" href="./join-us"> Join us</a> </li>                    
                </ul>
                <div>
                    <a class="join-us" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
                <div class="burger-menu">
                    <i class= "fas fa-bars"></i>
                </div>
            </div>    
        </nav>
    </div>
    <div class="container-bottom-nav">
        <nav class="bottom-nav">
            <ul>
                <li> <a class="about-us" href="#"> About us</a> </li>
                <li> <a class="shop" href="/product-detail"> Shop</a> </li>
                <li> <a class="home" href="./"> Home</a> </li>
                <li> <a class="contact" href="#"> Contact us</a> </li>
                <li> <a class="frequent-questions" href="#"> Q & A</a> </li>
            </ul>
        </nav>
    </div>     
</header>

<body>
    <form action="none" method="GET" class="form-login">
        <h3>SIGN IN</h3>
        <div class="control-form">
            <input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
        </div>

        <div class="control-form">
            <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" required>
            <a class="Olvido" href="#">Olvidaste tu contraseña?</a>
        </div>
        <div class="control-form buttom-login">
            <button type="submit" id="ingresar"> ingresar </button>
            <a class="hola" href="./join-us"> Todavia no te registraste?</a>
        </div>
    </form>   
</body>

<footer>
    <div class="reservados">
        <h2>Derechos reservados</h2>
        <p> Este es un texto de ejemplo de los
             derechos reservados de la página </p>
    </div> 
    <div class="redes">
        <h2>Redes</h2>
        
        <i class="fab fa-twitter" id="icono-redes"></i>
        <i class="fab fa-facebook-f" id="icono-redes"></i>
        <i class="fab fa-instagram" id="icono-redes"></i>
    </div>
    <div class="fiscal">
        <h2>Registro fiscal</h2>
    </div>   
</footer>
</html>