*{
    box-sizing: border-box;
}

.top-nav{
    width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
 
}

.container-top-nav{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.top-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: none;
    margin-bottom: 0px;
}

.top-nav ul li { 
    padding: 0px 10px;
}

.top-nav li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight:500;
}

.nav-main{
    display:flex;
    justify-content:space-between;
    width: 15%;
    align-items: center;
}

.nav-main ul { 
    display: none;
}

.burger-menu {
    color: white;
    font-size: 20px
}


.button-shop{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    display: block;
    width: 150px;
}
.fa-search{
    color: white;
    font-size: 15px;
}

.logo {
    width: 190px;
   
}

.fa-shopping-cart{
    color: white;
    font-size: 15px;
    
}


.bottom-nav{
    width: 90%;
    margin: 0 auto;
    display:none;
    justify-content:space-between;
    padding-top: 15px;
    margin-top: 65px;
    z-index: 50;
    
}
.bottom-nav li{
    position: relative;
}

.bottom-nav li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight:500;
    padding: 0 10px;
}

.bottom-nav li a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height:3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.bottom-nav li a:hover{
    color: #808080;
}


.bottom-nav li a:hover:after{
    width: 100%;
}

.bottom-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

/* BANNER */

.carrousel-container { 
    width: 100%;
    height: 800px;
    background: url('/img/the-best-gaming-chairs-for-2021_dr84.jpg') no-repeat center center/cover;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carrousel-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 30px;
    margin: 0;
}

.carrousel-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 15px;
    max-width: 80%;
}

.button-shop{
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 0px
}

.button-shop:hover {
    opacity: 0.5;
}

/* MAIN HOME */

.section-product {
    width: 90%;
    margin: auto;
}

.title-product{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
}

.article-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    padding: 30px 0;
    margin: 10px 0;
}

.article-product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.article-product img {
  width: 90%;
} 

.article-product h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.button-article {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    padding: 10px 20%;
}

.button-article:hover {
    background-color: #ff3c78;
    color: white;
}

/* FOOTER */ 

footer {
    background-color: black;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    justify-content:space-around;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    height: 205px;
    bottom: 0;
    width: 100%;
}

.fiscal,.redes,.reservados {
    box-sizing: border-box;
    color: gray;
    position: relative;
    text-align: center;  
}

footer h2{
    box-sizing: border-box;
    color: white;
    position: relative;
    top: 12px;
    
}
.redes p, .fiscal p {
    position: relative;
    left: 120px;
}
.redes i {
    position: relative;
}

#icono-redes {
    font-size: x-large;
}

 /* PAGINA DE PRODUCTO */ 

.container-productTop{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

.reviews {
    color: darkorange;
}
.container-productDetail{
    width: 60%;
}
.product-images{
    border: 1px solid black;
}

.buybutton {
    background-color: black;
    color: white;
    display:inline-block;
    transition-duration: 0.4s;
    border-radius: 0.1cm;

}
.buybutton:hover {
        background-color: grey;
        color: white;

   
  }
.container-productBottom{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
} 

/* CARRO DE COMPRAS */

.shopping-cart{
    display: flex;
}
.product{
    display: flex;
}

.totals{
    display: flex;
}

.image-cart img{
width: 150px;
}

/* REGISTRO */

body form {
    position: relative;
    top: 20px;

}

.containers-form {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family:'Josefin Sans', sans-serif;
    margin-top: 10px;
}

#paises, #cumpleaños {
    width: 47%;
}

#enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#23eb00;
    border: none;
    position: relative;
    font-size: medium;
    left: 110px;
    width: 80px;
    height: 20px;
    font-style: italic;
    
}

#registrado {
    flex-wrap: wrap;
    border-style: none;
    background-color: white;
    position: relative;
    bottom: 29px;
    left: 190px;
    width: 60px;
    font-size: x-small;
    font-style: italic;
}

/* Login */

.form-login{
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

}

.form-login h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 25px;
}

.control-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;

}

.control-form a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: grey;
    cursor: pointer;
    margin-top: 10px;
}

.control-form input{ 
    padding: 5px 5px;
    border: 2px solid black;
}

.control-form button{
    width: 45%;
    text-decoration: none;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 8px 5px;
    border: none;
    letter-spacing: 1px;
}

.control-form button:hover {
    background-color: #ff3c78;
    color: white;
}

.buttom-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




@media (min-width: 360px) {
    body{
        position: relative;
        margin-top: 60px;
    }
}

@media (min-width: 768px) { 
    .title-product{
        text-align: center;
    }
    .container-product{
       display: flex;
       justify-content: space-between;
        flex-wrap: wrap;
    
    }
    .article-product{
        width: 40vw;
    }

    .containers-form {
        display: flex;
        box-sizing: border-box;
        width: 40%;
        height: 50px;
        font-size: x-large;
    }

    #cumpleaños, #paises {
        width: 40%;
        height: 50px;
        font-size: x-large;
    }

    #enviar {
        position: relative;
        top: 10px;
        left: 700px;
        height: 40px;
        width: 290px;
        margin-bottom: 236px;
        font-size: x-large;
    }

    #registrado {
        position: relative;
        left: 1030px;
        width: 200px;
        bottom: 259px;
        font-size: large;
    }


}

@media (min-width: 1200px) { 
    .bottom-nav{
        display: flex;
    }

    .logo {
        position: relative;
        left: 120px;
        width: 290px;
    }

    .burger-menu{
        display: none;
    }

    .nav-main ul { 
        display: flex;
    }

    footer {
        display: flex;
        height: 150px;
    }

    .redes {
        position: relative;
        right: 160px;
    }
    
    .fiscal {
        position: relative;
        right: 160px;
    }

    .article-product{
        width: 20vw;
    }

    .form-login{
        max-width: 50vw;
}
