*{
    box-sizing: border-box;
}

.top-nav{
    width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
}

.container-top-nav{
    background-color: black;
}

.top-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: none;
}

.top-nav ul li { 
    padding: 0px 10px;
}

.top-nav li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-weight:500;
}

.nav-main{
    display:flex;
    justify-content:space-between;
    width: 15%;
    align-items: center;
}

.nav-main ul { 
    display: none;
}

.burger-menu {
    color: white;
    font-size: 20px
}


.search-bar{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    display: block;
    width: 20%;
}
.fa-search{
    color: white;
    font-size: 15px;
}

.logo {
    width: 190px;
}

.fa-shopping-cart{
    color: white;
    font-size: 15px;
    
}


.bottom-nav{
    width: 90%;
    margin: 0 auto;
    display:none;
    justify-content:space-between;
    
}

.bottom-nav li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight:500;
    
}

.bottom-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

/* BANNER */
.carrousel-container { 
    width: 100%;
    height: 800px;
    background: url('/img/the-best-gaming-chairs-for-2021_dr84.jpg') no-repeat center center/cover;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carrousel-container h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 30px;
    margin: 0;
}


.carrousel-container p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 20px;
    max-width: 80%;
}

.button-shop{
    cursor: pointer;
    display: inline-block;
    border:0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    width: 30%;
    border-radius: 20px;
    
}

.button-shop:hover {
    opacity: 0.5;
}

footer {
    background-color: black;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    justify-content:space-around;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    height: 360px;
}

.fiscal,.redes,.reservados {
    box-sizing: border-box;
    color: gray;
    position: relative;
    text-align: center;
    
}
footer h2{
    color: white;
    position: relative;
    top: 18px;
    
}
.redes p, .fiscal p {
    position: relative;
    left: 120px;
}
.redes i {
    position: relative;
}

#icono-redes {
    font-size: x-large;
}

.container-productTop{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}

.reviews {
    color: darkorange;
}
.container-productDetail{
    width: 60%;
}
.product-images{
    border: 1px solid black;
}

.buybutton {
    background-color: black;
    color: white;
    display:inline-block;
    transition-duration: 0.4s;
    border-radius: 0.1cm;

}
.buybutton:hover {
        background-color: grey;
        color: white;

   
  }
.container-productBottom{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;



@media (min-width: 361px) { 
    {
        
    }

}

@media (min-width: 768px) { 


}

@media (min-width: 1200px) { 
    .bottom-nav{
        display: flex;
    }

    .burger-menu{
        display: none;
    }

    .nav-main ul { 
        display: flex;
    }

    footer {
        display: flex;
        height: 150px;
    }

    .redes {
        position: relative;
        right: 160px;
    }
    
    .fiscal {
        position: relative;
        right: 160px;
    }
}
