<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<body>
  <section class="shop-cart">
    <article class="order_summary">
      <h1 class="cart-title">CARRITO DE COMPRAS</h1>
      <div class="summary_card">
        <div class="cart_item">
          <div class="product_img">
            <img src="img/silla-home.png" alt="No se encontró la imágen"/>
          </div>
          <div class="product_info">
            <h1 class="prodcuct-titles">Silla Gamer</h1>
            <p>Lorem Ipsum is simply dummy text.</p>
            <div class="close-btn">
              <i class="fa fa-close"></i>
            </div>
            <div class="product_rate_info">
              <h1 class="cart-titles">$ 249.990</h1>
              <span class="pqt-minus">-</span>
              <span class="pqt">1</span>
              <span class="pqt-plus">+</span>
            </div>
          </div>
        </div>
        <div class="cart_item">
          <div class="product_img">
            <img src="img/mouse-home.png" alt="No se encontró la imágen"/>
          </div>
          <div class="product_info">
            <h1 class="prodcuct-titles">Mouse Gamer</h1>
            <p>Lorem Ipsum is simply dummy text.</p>
            <div class="close-btn">
              <i class="fa fa-close"></i>
            </div>
            <div class="product_rate_info">
              <h1 class="cart-titles">$ 16.990</h1>
              <span class="pqt-minus">-</span>
              <span class="pqt">1</span>
              <span class="pqt-plus">+</span>
            </div>
          </div>
        </div>
        <div class="conteiner-price"> 
          <div class="order_price">
            <p>Subtotal</p>
            <h4>$266.980</h4>
          </div>
          <div class="order_service">
            <p>Envíos</p>
            <h4>$9.990</h4>
          </div>
          <div class="order_total">
            <p>Total</p>
            <h4>$276.970</h4>
          </div>
          <div class="proced_payment">
            <button type="button" class="pagar">PAGAR</button>
          </div>
        </div>
      </div>  
  </section>

<%- include('./partials/footer.ejs') %>

</body>


</html>