<!DOCTYPE html>
<html lang="es">


<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<body>
    <form action="/create" method="POST" enctype="multipart/form-data" class="conteinerCreateProduct">

        <div class="conteiner-crear">
            <h3>Crear o Modificar?</h3>
            <input type="radio" name="create-or-mod" value="Crear producto" id="CrearProducto">
            <label for="CrearProducto">Crear Producto</label>

            <input type="radio" name="create-or-mod" value="Modificar producto" id="Modificar producto">
            <label for="Modificar producto">Modificar producto</label>
        </div>

        <div class="conteiner-form"> 
         <input type="text" name="name" placeholder="Nombre del Producto" class="input-form" required>
        </div>

        <div class="conteiner-form"> 
        <textarea name="description" placeholder="Descripcion de Producto" class="input-form"></textarea>
        </div>    

        <div class="conteiner-form"> 
        <label> Selecciona un imagen </label>  
        <input type="file" accept=".jpg,.png" name="img-product" Class="file-img" required>
        </div> 

        <div class="conteiner-form"> 
            <label> Selecciona el tipo de Producto</label>  
            <select type="" name="category" class="input-form">
                <option value="mouse">Mouse</option>
                <option value="teclado">Teclado</option>
                <option value="silla">Silla</option>
                <option value="auriculares">Auricular</option>
            </select>
        </div>

        <div class="conteiner-form"> 
            <label>Selecciona un color</label>  
            <select name="color" class="input-form">
                <option value="blanco">Blanco</option> 
                <option value="negro">Negro</option>
                <option value="azul">Azul</option>
                <option value="rojo">Rojo</option>
            </select>
        </div>

        <div class="conteiner-form"> 
            <label>Valor en Pesos</label>   
            <input type="number" name="price" placeholder="$" class="input-form" required>
        </div>

        <div class="containers-form buttom-login">
            <button type="submit" id="enviar"> Crear</button>
        </div>
    </form>

<%- include('./partials/footer.ejs') %>

</body>



</html>