
<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>
    
<body>
    <form action="none" method="GET" class="form-login">
        <h3>SIGN IN</h3>
        <div class="control-form">
            <input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
        </div>

        <div class="control-form">
            <input type="password" name="contrase単a" placeholder="Contrase単a" id="contrase単a" required>
            <a class="Olvido" href="#">Olvidaste tu contrase単a?</a>
        </div>
        <div class="control-form buttom-login">
            <button type="submit" id="ingresar"> ingresar </button>
            <a class="hola" href="./join-us"> Todavia no te registraste?</a>
        </div>
    </form>   

<%- include('./partials/footer.ejs') %>  
    
</body>

</html>