<footer>
    <div class="container-fotter">
        <div class="footer-article">
            <h3>Derechos reservados</h3>
            <p> Este es un texto de ejemplo de los
                derechos reservados de la página </p>
        </div> 
        <div class="footer-article ojo">
            <h3>Redes</h3>
            <i class="fab fa-twitter" id="icono-redes"></i>
            <i class="fab fa-facebook-f" id="icono-redes"></i>
            <i class="fab fa-instagram" id="icono-redes"></i>
        </div>
        <div class="footer-article">
            <h3>Registro fiscal</h3>
            <p>© 2021 ThroneGame S.R.L.</p>
            <p> Av. Ninguna 9000, Piso 2, CP 0001, CABA</p>
        </div>
    </div>       
</footer>