<footer>
    <div class="reservados">
        <h2>Derechos reservados</h2>
        <p> Este es un texto de ejemplo de los
             derechos reservados de la página </p>
    </div> 
    <div class="redes">
        <h2>Redes</h2>
        
        <i class="fab fa-twitter" id="icono-redes"></i>
        <i class="fab fa-facebook-f" id="icono-redes"></i>
        <i class="fab fa-instagram" id="icono-redes"></i>
    </div>
    <div class="fiscal">
        <h2>Registro fiscal</h2>
    </div>   
</footer>