<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>Carro de compra</title>
</head>

<header>
    <div class="container-top-nav"> 
        <nav class="top-nav">
            <i class="fas fa-search"></i>
            <img class="logo" src="./img/logo.png" alt="No se encontró la imágen">
            <div class="nav-main"> 
                <ul>
                    <li><a class="sign-in" href="#"> Sign in</a></li>
                    <li><a class="join-us" href="#"> Join us</a> </li>                    
                </ul>
                <div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="burger-menu">
                    <i class= "fas fa-bars"></i>
                </div>
            </div>    
        </nav>
    </div>
    <div class="container-bottom-nav">
        <nav class="bottom-nav">
            <ul>
                <li> <a class="about-us" href="#"> About us</a> </li>
                <li> <a class="shop" href="#"> Shop</a> </li>
                <li> <a class="home" href="#"> Home</a> </li>
                <li> <a class="contact" href="#"> Contact us</a> </li>
                <li> <a class="frequent-questions" href="#"> Q & A</a> </li>
            </ul>
        </nav>
    </div>   

</header>

<body>

  <div class="shop-cart">
    <div class="order_summary">
      <h1 class="cart-titles">Carrito de compras</h1>
      <div class="summary_card">
        <div class="cart_item">
          <div class="product_img">
            <img src="img/silla-home.png" alt="No se encontró la imágen"/>
          </div>
          <div class="product_info">
            <h1 class="cart-titles">Silla Gamer</h1>
            <p>Lorem Ipsum is simply dummy text.</p>
            <div class="close-btn">
              <i class="fa fa-close"></i>
            </div>
            <div class="product_rate_info">
              <h1 class="cart-titles">$ 249.990</h1>
              <span class="pqt-minus">-</span>
              <span class="pqt">1</span>
              <span class="pqt-plus">+</span>
            </div>
          </div>
        </div>
        <div class="cart_item">
          <div class="product_img">
            <img src="img/mouse-home.png" alt="No se encontró la imágen"/>
          </div>
          <div class="product_info">
            <h1 class="cart-titles">Mouse Gamer</h1>
            <p>Lorem Ipsum is simply dummy text.</p>
            <div class="close-btn">
              <i class="fa fa-close"></i>
            </div>
            <div class="product_rate_info">
              <h1 class="cart-titles">$ 16.990</h1>
              <span class="pqt-minus">-</span>
              <span class="pqt">1</span>
              <span class="pqt-plus">+</span>
            </div>
          </div>
        </div>
        <hr />
        <div class="order_price">
          <p>Subtotal</p>
          <h4>$266.980</h4>
        </div>
        <div class="order_service">
          <p>Envíos</p>
          <h4>$9.990</h4>
        </div>
        <div class="order_total">
          <p>Total</p>
          <h4>$276.970</h4>
        </div>
      </div>
    </div>
    <div class="payment_details">
      <h1 class="cart-titles">Información de contacto</h1>
      <div class="details_card">
        <div class="name_address">
          <div class="first_lastName">
            <input type="text" placeholder="Nombre" />
            <input type="text" placeholder="Apellido" />
            <input type="text" placeholder="Telefono" />
          </div>
        </div>
        <h1 class="cart-titles">Dirección de envío</h1>
        <div class="shipping_card">
          <div class="address">
            <input type="text" placeholder="Dirección" />
            <input type="number" placeholder="Número" />
            <input type="text" placeholder="Pais" />
          </div>
        </div>
        <div class="proced_payment">
          <a href="">Pagar</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>