<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style.css">
    <title>Sillas gamer</title>
</head>

<header>
    <input class="search-bar" type="search" name="Busqueda" placeholder="Buscar">
    <img class="logo" src="" alt="No se encontró la imágen">
    <a class="sign-in" href="#"> Sign in</a>
    <a class="join-us" href="#"> Join us</a>
    <i class="fas fa-shopping-cart"></i>

    <div class="second-header">
        <a class="about-us" href="#"> About us</a>
        <a class="shop" href="#"> Shop</a>
        <a class="contact" href="#"> Contact us</a>
        <a class="frequent-questions" href="#"> Q & A</a>

    </div>
</header>

<body>
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">   
    <p>
        Example text 
    </p>
    <div class="destacado-padre">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
    </div>  
</body>

<footer>
    <div>
        <p>Derechos reservados</p>
    </div>
    <div>
        <p>Redes</p>
    </div>
    <div>
        <p>Registro fiscal</p>
    </div>   
</footer>
</html>