<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>Sillas gamer</title>
</head>

<header>
    <div class="container-top-nav"> 
        <nav class="top-nav">
            <i class="fas fa-search"></i>
            <img class="logo" src="./img/logo.png" alt="No se encontró la imágen">
            <div class="nav-main"> 
                <ul>
                    <li><a class="sign-in" href="#"> Sign in</a></li>
                    <li><a class="join-us" href="./join-us"> Join us</a> </li>                    
                </ul>
                <div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="burger-menu">
                    <i class= "fas fa-bars"></i>
                </div>
            </div>    
        </nav>
    </div>
    <div class="container-bottom-nav">
        <nav class="bottom-nav">
            <ul>
                <li> <a class="about-us" href="#"> About us</a> </li>
                <li> <a class="shop" href="#"> Shop</a> </li>
                <li> <a class="home" href="./"> Home</a> </li>
                <li> <a class="contact" href="#"> Contact us</a> </li>
                <li> <a class="frequent-questions" href="#"> Q & A</a> </li>
            </ul>
        </nav>
    </div>     
</header>

<body>
    <main>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/slider-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/slider-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/slider-3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>      

        <section class= "section-product"> 
                <h2 class="title-product">NUESTROS PRODUCTOS</h2>
                <div class= "container-product">
                    <article class= "article-product"> 
                        <img class="Sillas-img" src="img/silla-home.png" alt="No se encontró la imágen">
                         <h3>SILLAS</h3>
                         <a class="button-article" href="#"> MORE </a>
                    </article>                  
                    <article class= "article-product"> 
                        <img class="mouse-img" src="img/mouse-home.png" alt="No se encontró la imágen">
                        <h3>MOUSE</h3>
                        <a class="button-article" href="#"> MORE </a>
                    </article>
                    <article class= "article-product"> 
                        <img class="auriculares-img" src="img/auriculares-home.png" alt="No se encontró la imágen">
                        <h3>AURICULARES</h3>
                        <a class="button-article" href="#"> MORE </a>
                    </article>
                    <article class= "article-product"> 
                        <img class="teclado-img" src="img/teclado-home.png" alt="No se encontró la imágen">
                        <h3>TECLADOS</h3>
                        <a class="button-article" href="#"> MORE </a>
                    </article>
                </div>
        </section>     
    </main> 


    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>

<footer>
    <div class="reservados">
        <h2>Derechos reservados</h2>
        <p> Este es un texto de ejemplo de los
             derechos reservados de la página </p>
    </div> 
    <div class="redes">
        <h2>Redes</h2>
        
        <i class="fab fa-twitter" id="icono-redes"></i>
        <i class="fab fa-facebook-f" id="icono-redes"></i>
        <i class="fab fa-instagram" id="icono-redes"></i>
    </div>
    <div class="fiscal">
        <h2>Registro fiscal</h2>
    </div>   
</footer>
</html>