<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>Sillas gamer</title>
</head>

<header>
    <div class="container-top-nav"> 
        <nav class="top-nav">
            <i class="fas fa-search"></i>
            <img class="logo" src="./img/logo.png" alt="No se encontró la imágen">
            <div class="nav-main"> 
                <ul>
                    <li><a class="sign-in" href="#"> Sign in</a></li>
                    <li><a class="join-us" href="#"> Join us</a> </li>                    
                </ul>
                <div>
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="burger-menu">
                    <i class= "fas fa-bars"></i>
                </div>
            </div>    
        </nav>
    </div>
    <div class="container-bottom-nav">
        <nav class="bottom-nav">
            <ul>
                <li> <a class="about-us" href="#"> About us</a> </li>
                <li> <a class="shop" href="#"> Shop</a> </li>
                <li> <a class="home" href="#"> Home</a> </li>
                <li> <a class="contact" href="#"> Contact us</a> </li>
                <li> <a class="frequent-questions" href="#"> Q & A</a> </li>
            </ul>
        </nav>
    </div>
    <div class="carrousel-container">
        <h2>TITULO</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum adipisci praesentium expedita saepe id laboriosam earum facilis nam, amet quibusdam voluptatum dolor ullam quasi magni, eius autem rerum assumenda itaque?</p>
        <a class="button-shop" href="#"> SHOP </a>
    </div>       
</header>

<body>
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">
    <img class="sliders" src="" alt="No se encontró la imágen">   
    <p>
        Example text 
    </p>
    <div class="destacado-padre">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
        <img class="destacado" src="" alt="No se encontró la imágen">
    </div>  
</body>

<footer>
    <div class="reservados">
        <h2>Derechos reservados</h2>
        <p> Este es un texto de ejemplo de los
             derechos reservados de la página </p>
    </div> 
    <div class="redes">
        <h2>Redes</h2>
        
        <i class="fab fa-twitter" id="icono-redes"></i>
        <i class="fab fa-facebook-f" id="icono-redes"></i>
        <i class="fab fa-instagram" id="icono-redes"></i>
    </div>
    <div class="fiscal">
        <h2>Registro fiscal</h2>
    </div>   
</footer>
</html>